<section class="management">
    <div class="container">
        <div class="management-text-wrap">
            <h2 class="management-title">
                Effortless Validation for
                <span class="management-title-part">Management</span>
            </h2>
            <p class="management-text">
                The Myspace page defines the individual, his or her
                characteristics, traits, personal choices and the overall
                personality of the person.
            </p>
            <ul class="management-list">
                <li class="management-item">
                    <h3 class="management-subtitle">Accessory makers</h3>
                    <p class="management-desk">
                        While most people enjoy casino gambling, sports betting,
                        lottery and bingo playing for the fun
                    </p>
                </li>
                <li class="management-item">
                    <h3 class="management-subtitle">Alterationists</h3>
                    <p class="management-desk">
                        If you are looking for a new way to promote your business that
                        won’t cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <img src="./img/management/management-img.png" alt="documets" width="540" height="500" />
    </div>
</section>